
 .content {
   
    background-color: black;
    width: 100%;

 }

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin: auto;
    color: aliceblue;
}
