

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #000000, #e10000)
}

.container-nav-bar {
  width: 1200px;
  display: flex;
  justify-content: space-between;

}

.logo {
    width: 150px;
    position: relative;
    left: 150px;
}

.nav-bar-list{
   display: flex;
   justify-content: space-evenly;
  width: 600px;
  position:absolute;
  left: 500px;
 font-size: 25px;
text-decoration: none;
}

.nav-bar-list>li {
  list-style-type: none;

}

a{
    text-decoration-line: none;

    color: aliceblue;
}


.sub-container {
  display: block;
  align-content: center;
  
}

.title {
 font-size: 50px;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 position: relative;
 left: 350px;
 bottom: 150px;
}